footer{
    background-color: var( --clr-btn);
    width:100%;
    height:4rem;
    display:flex;
    justify-content:center;
    align-items:center;

}
footer p{
 color:var(--clr-bg);
 font-weight: 800;
}
